/* 
    Document   : default
    Created on : Sep 23, 2013, 12:10:22 PM
    Author     : developer
    Description:
        Purpose of the stylesheet follows.
*/

.zila-logo-name p{
    font-family: Oswald-Light !important; font-size: 16px !important; letter-spacing: 1px; font-weight: lighter; color: #7fc5ef !important;
    text-shadow: none !important; margin-bottom: 0px !important; margin-left: 8% !important;
}

.landing_page_link{
    text-align: left !important;
}

/*This section styles the look and feel of the dashboard section*/


.dynamic-border{
    border-bottom: 1px solid #fff !important;
}
