<style type="text/css">
    

/*This section styles the look and feel of the dashboard section*/
.lp-shortcut-wrapper {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff !important;-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff !important; 
    box-shadow:inset 0px 1px 0px 0px #ffffff !important;
    
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6)) !important;
    background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%) !important; background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%) !important;
    background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%) !important; background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%) !important;
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%) !important;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0) !important;
    background-color:#ffffff;  min-height: 100px !important; width: 100% !important;
    -moz-border-radius:10px !important; -webkit-border-radius:10px !important; border-radius:10px !important;
    border:1px solid #dcdcdc !important; display:inline-block !important; cursor:pointer !important;
    font-family: Ubuntu-R !important; font-size: 13px !important; letter-spacing: 0.04em !important; text-align: center !important;
    color: #787878 !important; text-decoration:none !important; text-shadow:0px 1px 0px #ffffff !important;
    padding-top: 10px !important; padding-bottom: 0px !important; margin-bottom: 20px !important;
}
.lp-shortcut-wrapper:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
    background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%) !important;
    background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%) !important;
    background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%) !important;
    background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%) !important;
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%) !important;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0) !important;
    background-color:#f6f6f6; text-decoration: none !important; color: #21B4E2 !important;
}
.lp-shortcut-wrapper:active {
    position:relative !important;
    top:1px !important;
}

.features-title{
   padding-bottom: 2px !important;
}
    
</style>

