/* 
    Document   : default
    Created on : Sep 23, 2013, 12:09:27 PM
    Author     : developer
    Description:
        Purpose of the stylesheet follows.
*/

.dynamic-border{
    border-right: 1px solid #E7E7E7 !important;
    border-width:  0.01em !important;
}
