/* 
    Document   : inner_global
    Created on : Sep 23, 2013, 5:33:31 PM
    Author     : developer
    Description:
        Purpose of the stylesheet follows.
*/

body{
    background-color: lightskyblue !important;
}

