<style type="text/css">

.success-fadeout, .error-fadeout{
  font-family: Ubuntu-L !important; font-size: 13px !important; font-weight: lighter !important; line-height: 20px !important; 
  text-align: center !important;
}

</style>


